<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-card-header *ngIf="!error">
      <ion-card-title class="ion-text-center"></ion-card-title>
      <img style="margin-top: 3em;" src="../../../assets/logo.png" class="center" />
    </ion-card-header>
    <ion-card-header *ngIf="error">
      <ion-card-title class="ion-text-center"></ion-card-title>
      <img style="margin-top: 3em;" src="../../../assets/index.jpeg" class="error" />
    </ion-card-header>
    <form [formGroup]="form">
      <ion-item>
        <ion-label position="floating" class="ion-text-center" type="text">Username
        </ion-label>
        <ion-input formControlName="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" class="ion-text-center">Password
        </ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <br>
      <ion-button class="center" (click)="login()">login</ion-button>
    </form>
  </ion-content>